# Python bytecode, e.g. launch/__pycache__/ from running the launch files
__pycache__/
*.py[cod]

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
